/* Global Styles */

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #fff;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

body {
  margin: 0;
  background-image: url("https://i.ibb.co/kG9M9yv/Website-background.png");
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
}

router-outlet + *  {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #bdbdbd;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* fix position of header */
app-top-bar {
  position: fixed;
}

/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background-color: #ef4339;
  color: white;
  border: 1px solid #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  background-color: #21062f;
  border-radius: 10px;
  margin: 58px;
  padding: 10px;
}

.detailContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  background-color: #21062f;
  border-radius: 10px;
  margin: 100px;
  padding: 20px;
}

.textWrapper {
  max-width: 325px;
}

.shareButton {
  display: flex;
  max-width: 100%;
}

/* added home button styling */
.home, #home {
  display: inline-flex;
  padding: 8px 16px;
  position: relative;
  left: 5%;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  color: #ef4339;
  border: 1px solid #ef4339;
}

.archerLogo {
  max-width: 50px;
}

.titleContainer {
  display: inline-flex;
  white-space: nowrap;
  margin-right: 2%;
  gap: 1%;
}

/* .checkoutContainer {
 display: flex;
 flex-direction: right;
} */

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: #fff;
  color: #21062f;
}

.fancy-button i.material-icons {
  color: #21062f;
  padding-right: 4px;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  height: 68px;
  background-color: #21062f;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1 {
  color: #fff;
  margin: 0;
}

/* Checkout Cart, Shipping Prices */

.cart-item, .shipping-item {
  width: 100%;
  min-width: 300px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 20px;
  margin-bottom: 8px;
  border-radius: 2px;
  border: 1px solid #fff;
  background-color: #21062f
}

.imgUrl {
  display: flex;
  margin-bottom: 10px;
  max-width: 200px;
}